*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
.gray {
  color: #c5c5c5;
}

/* Top navbar */

.top-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color: #323232;
  color: white;
  height: 47px;
}
.top-navbar > i {
  margin-right: -3px;
  font-size: 20px;
}
.section {
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 10%;
  height: 31px;
  cursor: pointer;
}
.section > i {
  font-size: large;
  padding: 0 10px;
  cursor: pointer;
}
.section:hover p {
  border-bottom: 1px solid white;
  padding-bottom: -6px;
  color: #c5c5c5;
}
#delivery-bar {
  margin-right: 10px;
}
#work-hours {
  margin: 0 9% 0 10px;
}
#work-hours p:nth-of-type(2) {
  color: #c5c5c5;
}

/* Drop down menu */

.drop-down-menu-wrap {
  position: absolute;
  top: 48px;
  right: 10%;
  width: 400px;
  height: 603px;
  border: dotted 1px black;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.1s;
  z-index: 999;
}
.drop-down-menu-wrap.open-menu {
  max-height: 650px;
}
.drop-down-menu {
  background-color: white;
  padding: 20px;
}
.close-button {
  position: absolute;
  top: 19px;
  right: 19px;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
}
.close-button i {
  color: #262626;
}
.row {
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 16px;
  color: #262626;
}
.row-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0;
  color: #262626;
}
.row-2 span {
  padding: 3px 0;
}
.row-2 span > a {
  color: #262626;
}
.row-2 span > i {
  padding-right: 5px;
  padding-bottom: 15px;
  font-size: 14px;
}
.row-3 {
  color: #262626;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -5px;
}
.row-3 span {
  padding: 2.5px 0;
}
.row-3 span a {
  color: #262626;
}
#store-details {
  margin-top: 17px;
}
.row-4 {
  margin-top: 20px;
}
.row-4 button {
  margin-top: 15px;
  border: 1px solid black;
  width: 274px;
  height: 48px;
  background-color: white;
}
.row-4 button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

/* Main header */

#navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.mainHeader {
  height: 88px;
  background-color: black;
}
.contentContainer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#LUSH-logo {
  font-size: 3rem;
  margin-left: 10px;
  margin-top: 18px;
}
.mainSearchBar {
  width: 490px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-left: -30px;
}
.searchBarContainer {
  width: 90%;
  height: 44px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.searchBarContainer > button {
  width: 10%;
  height: 100%;
  border: none;
  background-color: #fff;
  font-size: 20px;
}
.searchBarContainer > input {
  width: 100%;
  height: 95%;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1rem;
}
.accountInfoBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18px;
  margin-left: -100px;
}
.account {
  display: flex;
  justify-content: flex-start;
  width: 160px;
  height: 36px;
  border-right: 1.5px solid white;
  margin-right: 15px;
  padding-right: 15px;
}
.account i {
  font-size: 32px;
  margin-right: 15px;
}
.accountTextArea {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 120px;
  font-size: 0.95rem;
}
.accountTextArea p:hover {
  color: #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  cursor: pointer;
}
.accountTextArea p:first-of-type {
  margin-right: 10px;
}
.accountTextArea p:last-of-type {
  margin-left: 10px;
}
.accountTextArea p:nth-of-type(2) {
  border-right: 1px solid white;
}
.whishlist i {
  font-size: 32px;
  margin-right: 20px;
}
.whishlist > a > i {
  text-decoration: none;
  color: #fff;
}

/* Bottom navbar */

.bottom-navbar {
  height: 56px;
  background-color: #000;
  padding-left: 100px;
  padding-right: 150px;
  border-top: 1px solid white;
}
.dropDownMenu-list {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  list-style: none;
  font-size: 1.1rem;
  color: #fff;
  position: relative;
}
.dropDownMenu-list a {
  color: #e6e4e4;
  text-decoration: none;
}
.dropDownMenu-listItem:hover .submenu {
  opacity: 1;
  visibility: visible;
}
.submenu {
  position: absolute;
  display: flex;
  background-color: #fff;
  color: #000;
  justify-content: space-between;
  top: 56px;
  left: -100px;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.submenu ul {
  margin: 20px 0;
}
.submenu li {
  list-style: none;
  padding: 2px 0;
}
.submenu li strong {
  font-size: 17px;
}
.submenu li a {
  font-size: 1rem;
}
.submenu li a:hover {
  border-bottom: 1px solid #a2a0a0;
  color: #a2a0a0;
}
#submenu1 ul:first-of-type {
  margin-left: 100px;
}
#submenu1 ul:nth-of-type(3) {
  width: 300px;
}
#submenu1 ul:nth-child(4) {
  margin-right: 120px;
}
.submenu a {
  text-decoration: none;
  color: #000;
}
.listImageItem {
  background-color: #eae7e7;
}
.borderbox {
  background-color: #eae7e7;
}
.bottomBorder {
  border-bottom: 1px solid black;
}
.dropDownMenu-listItem:hover .submenu {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.dropDownMenu-list li:hover ~ li:last-child a {
  color: #a2a0a0;
}
.dropDownMenu-list li:last-child:hover a {
  color: #fff;
}
#submenu2 > ul:first-child,
#submenu3 > ul:first-child,
#submenu4 > ul:first-child,
#submenu5 > ul:first-child,
#submenu5 > ul:nth-child(2),
#submenu6 > ul:first-child,
#submenu7 > ul:first-child,
#submenu8 > ul:first-child {
  margin-left: 100px;
  width: 175px;
}
#submenu2 > ul:first-child > li > a > strong,
#submenu3 > ul:first-child > li > a > strong,
.black {
  border-bottom: 1px solid black;
  color: #000;
}
#submenu2 > ul:nth-child(2),
#submenu3 > ul:nth-child(2),
#submenu3 > ul:nth-child(3) {
  width: 190px;
}
#submenu2 > ul:nth-child(5),
#submenu3 > ul:nth-child(5),
#submenu3 > ul:nth-child(4),
#submenu4 > ul:nth-child(3),
#submenu4 > ul:nth-child(5),
#submenu5 > ul:nth-child(3),
#submenu5 > ul:nth-child(4),
#submenu7 > ul:nth-child(5),
#submenu8 > ul:nth-child(3),
#submenu8 > ul:nth-child(4) {
  width: 180px;
}
#submenu2 > ul:nth-child(6),
#submenu3 > ul:nth-child(6),
#submenu6 > ul:last-child {
  margin-right: 120px;
  width: 180px;
}
#submenu4 > ul:nth-child(5),
#submenu8 > ul:last-child {
  margin-right: 330px;
}
#submenu5 > ul:nth-child(4),
#submenu7 > ul:nth-child(5) {
  margin-right: 350px;
}
#submenu6 > ul:nth-child(3) {
  width: 170px;
}
#submenu5 > ul:nth-child(3) {
  margin-left: 100px;
}
#submenu7 > ul:nth-child(3),
#submenu8 > ul:nth-child(3) {
  margin-left: 100px;
  width: 180px;
}
.center > li:first-child {
  text-align: center;
}
.fa-circle {
  color: green;
  padding-left: 5px;
}
.green {
  color: green;
}
.green-line {
  background-color: #4caf50;
  height: 5px;
  width: 60px;
  border-radius: 30px;
  margin-left: 60px;
  margin-top: 2px;
}

/* Main */

main {
  background-color: yellow;
  height: 7000px;
}
